/* ==== Estilos Globales === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ==== Paleta de Colores === */

:root{
    --color1: #2e2e2e;
    --color2: #181818;
    --color3: #FFFF;
    --color4: #1ED760;
    --color5: #BEBEBE;
    --color6: #000;
    --color7: #939B9D;
    --color8: #4F4F4F;

}

/* ==== Propiedades en el contenedor padre === */

body{
    width: 100%;
    height: auto;
    margin-top: 18px;
    margin-bottom: 25px;
    background: linear-gradient(var(--color1), var(--color2));
    color: var(--color3);
}

/* ==== Propiedades en la cabecera === */

header{
    width: 100%;
    height: auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-rows: repeat(2, auto);
    column-gap: 15px;
    row-gap: 3px;
    margin-bottom: 13px;

}

.icon-1{
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.icon-2{
    grid-column: 4 / 5;
    grid-row: 1 / 3;
    justify-self: end;
}

.icon-media{
    align-self: center;
    font-size: 20px;
}

header > p:nth-child(2){
    grid-column: 2 / 4;
    grid-row:  1 / 2;
    text-transform: uppercase;
}

header > p:nth-child(3){
    grid-column: 2 / 4;
    grid-row:  2 / 3;
    font-weight: 700;
}

header > p{
    font-size: 12px;
    justify-self: center;
}

/* ==== Propiedades en el contenedor principal === */

main{
    width: 100%;
    min-width: 375px;
    height: auto;
    display: grid;
    row-gap: 10px;
    margin-bottom: 35px;   
}

/* ==== Propiedades en el contenedor principal === SECCIÓN 1 */

.cards-album{
    width: 100%;
    padding: 10px 0;
    display: flex;
    column-gap: 20px;
    overflow-x: scroll ;
    scroll-snap-type: x mandatory;
}

.cards-album::-webkit-scrollbar{
    display: none;
}


.cards-album article{
    width: 80%;
    min-width: 300px;
    margin: 0 auto;
    display: grid;
    scroll-snap-align: center;
}

.cards-album article img{
    width: 100%;
    border-radius: 10px;
}

/* ==== Propiedades en el contenedor principal === SECCIÓN 2 */

.controles-reproductor{
    width: 100%;
    height: auto;
    padding: 0 25px;
}

.p-content{
    font-size: 16px;
    line-height: 24px;
    color: var(--color3);
    font-weight: 500;
}

.p-medium{
    font-size: 14px;
    line-height: 21px;
    color: var(--color5);
}

.p-small{
    font-size: 10px;
    line-height: 15px;
    color: var(--color7);
}

.icon-3{
    font-size: 18px;
}

.icon-4{
    font-size: 20px;
}

.icon-5{
    font-size: 28px;
}

.controles-reproductor > div:nth-child(1){
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.controles-reproductor > div:nth-child(1) > div:nth-child(2){
    display: flex;
    column-gap: 30px;
    padding-right: 12px;
}

.icon-6{
    font-size: 8px;
}

.reproductor-bar{
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: repeat(2, auto);
    row-gap: 5px;
    
}

.bar-music{
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    width: 100%;
    appearance: none;
    font-size: 3px;
}

/*Barra total de la barra de navegación (bar)*/

.bar-music::-webkit-progress-bar{
    background-color: var(--color8);
    border-radius: 10px;
}

/*Barra de avance de la barra de navegación (value)*/

.bar-music::-webkit-progress-value{
    background-color: var(--color4);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.reproductor-bar > p:nth-child(2){
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.reproductor-bar > p:nth-child(3){
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    justify-self: end;
}



/*


*/






/* ==== Propiedades en el pie de página === */

