/* ==== Estilos Globales === */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* ==== Paleta de Colores === */

:root{
    --color1: #2e2e2e;
    --color2: #181818;
    --color3: #FFFF;
    --color4: #1ED760;
    --color5: #BEBEBE;
    --color6: #000;
    --color7: #939B9D;
}

/* ==== Propiedades en el contenedor padre === */

body{
    width: 100%;
    height: auto;
    margin-top: 18px;
    margin-bottom: 25px;
    background: linear-gradient(var(--color1), var(--color2));
    color: var(--color3);
}

/* ==== Propiedades en la cabecera === */











/*

*/








/* ==== Propiedades en el contenedor principal === */


/* ==== Propiedades en el pie de página === */
